<!DOCTYPE html>
<html>
<head>
        <link rel="icon" href="https://m.youtube.com/static/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="https://m.youtube.com/static/apple-touch-icon-180x180-precomposed.png" sizes="180x180">
    <link rel="apple-touch-icon" href="https://m.youtube.com/static/apple-touch-icon-167x167-precomposed.png" sizes="167x167">
    <link rel="apple-touch-icon" href="https://m.youtube.com/static/apple-touch-icon-152x152-precomposed.png" sizes="152x152">
    <link rel="apple-touch-icon" href="https://m.youtube.com/static/apple-touch-icon-144x144-precomposed.png" sizes="144x144">
    <link rel="apple-touch-icon" href="https://m.youtube.com/static/apple-touch-icon-120x120-precomposed.png" sizes="120x120">
    <link rel="apple-touch-icon" href="https://m.youtube.com/static/apple-touch-icon-114x114-precomposed.png" sizes="114x114">
    <link rel="apple-touch-icon" href="https://m.youtube.com/static/apple-touch-icon-72x72-precomposed.png" sizes="72x72">
    <link rel="apple-touch-icon" href="https://m.youtube.com/static/apple-touch-icon-57x57-precomposed.png" sizes="57x57">
    <link rel="apple-touch-icon" href="https://raw.githubusercontent.com/siawaseok3/slim-2-by-siawaseok/main/templates/IMG_9471.png" sizes="32x32">
    <link rel="shortcut icon" href="https://www.youtube.com/s/desktop/daa4e47c/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://www.youtube.com/s/desktop/daa4e47c/img/favicon_32x32.png" sizes="32x32">
    <link rel="icon" href="https://www.youtube.com/s/desktop/daa4e47c/img/favicon_48x48.png" sizes="48x48">
    <link rel="icon" href="https://www.youtube.com/s/desktop/daa4e47c/img/favicon_96x96.png" sizes="96x96">
    <link rel="icon" href="https://www.youtube.com/s/desktop/daa4e47c/img/favicon_144x144.png" sizes="144x144">
    <title>連番を簡単に生成！！</title>
    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://pokemogukunns.github.io/yuki/video.js"></script>
</head>
        <body class="no-theme">
    <span style="display:none" id="dark_mode_pref"></span>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-2-24"></div>
        <div class="pure-u-1 pure-u-md-20-24" id="contents">
            <div class="pure-g navbar h-box">
                <div class="pure-u-1 pure-u-md-12-24 searchbar">
 
                    <a href="/requestform">新機能の要望やバグ報告</a><br>
                    <a href="/bbs">掲示板</a>
                    <form class="pure-form" action="/search" method="get">
                        <fieldset>
                            <input type="search" id="searchbox" autocomplete="off" autocorrect="on" autocapitalize="none" spellcheck="false" name="q" placeholder="検索" title="検索" value="" class="ui-autocomplete-input">
                        </fieldset>
                    </form>
                </div>
            </div>
<body>
    処理中です<br>　<a href="https://sites.google.com/view/yuki-v1-19">おすすめサイト</a>
    
    <script>setTimeout(function(){location.reload();},1);</script>
</body>
</html>
